name: Generate M3U Playlist

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate_m3u:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  # 如果有依赖文件

      - name: Run Python Script to Generate M3U
        run: python md/test22.py  # 根据你的脚本路径修改

      - name: List files in the directory
        run: ls -l

      - name: Upload demo_output.m3u
        if: success() && (exists('demo_output.m3u'))
        uses: actions/upload-artifact@v4
        with:
          name: demo_output
          path: demo_output.m3u

      - name: Upload missing_logos.txt
        if: success() && (exists('missing_logos.txt'))
        uses: actions/upload-artifact@v4
        with:
          name: missing_logos
          path: missing_logos.txt
