name: Generate M3U

# 支持手动和定时触发
on:
  workflow_dispatch:  # 手动触发
  schedule:           # 定时触发
    - cron: '0 3 * * *'  # 每天凌晨3点运行，可自行修改

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'  # 可根据需要修改

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f py/requirements.txt ]; then pip install -r py/requirements.txt; fi

      - name: Run M3U generation script
        run: |
          python md/test22.py  # 根据你的脚本实际路径修改

      - name: Upload M3U output
        uses: actions/upload-artifact@v4
        with:
          name: demo_output
          path: demo_output.m3u

      - name: Upload missing logos
        if: success() && (exists('missing_logos.txt'))
        uses: actions/upload-artifact@v4
        with:
          name: missing_logos
          path: missing_logos.txt

      - name: Upload TVBox output
        if: success() && (exists('tvbox_output.txt'))
        uses: actions/upload-artifact@v4
        with:
          name: tvbox_output
          path: tvbox_output.txt
